<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{evento.titulo}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="page4">
<ion-card>
   <div id="evento-container34" *ngFor="let imagen of listaImage">  
    <img src="{{url}}{{imagen.foto}}" />
    <div class="spacer" style="width:300px;height:4px;" id="sesion-spacer2"></div>
   </div>
    <ion-card-content>
        <ion-card-title>
             {{evento.created_at}} {{evento.titulo}}
        </ion-card-title>
        <p>
             {{evento.descripcion}}
        </p>
    </ion-card-content>
</ion-card>
    <div id="evento-container3" *ngFor="let comentario of listaPublicacion">
        <ion-list id="evento-list5">
            <ion-item id="evento-list-item-container4">
                <div id="evento-markdown4" style="text-align:right;" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#3A7EF5;">
                        <strong>
                            {{comentario.diaHora}}
                        </strong>
                    </p>
                </div>
                <div id="evento-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#050505;">
                        <strong style="color:#3A7EF5;">{{comentario.nombreCompleto}}:</strong>{{comentario.descripcion}}
                    </p>
                </div>
            </ion-item>
        </ion-list>
    </div>
    <form id="evento-form4" class="form-horizontal" (ngSubmit)="crear(formComentario)" #formComentario="ngForm" novalidate>
        <ion-item id="evento-input5">
            <ion-label floating>
                Comentar
            </ion-label>
            <ion-input type="text" [(ngModel)]="comentar" name="comentario" required></ion-input>
        </ion-item>

        <button id="sesion-button1" [disabled]="formComentario.invalid" type="submit" ion-button color="positive" block>
            Guardar
        </button>
    </form>
</ion-content>
